<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Basics - Level 1</title>
    <link rel="stylesheet" href="../Lavel1/style-lavel1.css" />
    <link rel="website icon" type="png" href="/images/global-learning.png" />
  </head>
  <body>
    <div class="game-container">
      <h2>Level 1: HTML Basics</h2>
      <p>
        Your task is to create a basic HTML document structure. Start by adding
        a <code>&lt;html&gt;</code> element and a
        <code>&lt;head&gt;</code> element with a title.
      </p>

      <div class="code-editor">
        <textarea
          id="html-code"
          rows="10"
          cols="50"
          placeholder="Write your HTML code here..."
        >
        </textarea>
      </div>
      <button class="back-btn"><a href="/index.html">Back</a></button>
      <button id="submit-btn">Submit</button>
      <button class="next-btn">
        <a href="../Lavel2/index-lavel2.html">Next</a>
      </button>

      <div id="result"></div>
    </div>

    <script src="../Lavel1/app-module1.js"></script>
  </body>
</html>
